@model IEnumerable<CRUDController.Models.Employee>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="container">
    <div class ="row">
        <div class="col-8 offset-2">
            <h1 class="text-center text-primary">Employee Details</h1>
            <a class="btn btn-sm btn-primary m-2" asp-controller="Employee" asp-action="Create">Create Info</a>
            <p class="text-center text-primary">@TempData["mgs"]</p>
            <table class="table table-bordered">
                <tr class="text-center">
                    <th>EmployeeId</th>
                    <th>Name</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Salary</th>
                    <th>Action</th>
                </tr>
                @foreach(var data in Model)
                {
                    <tr class="text-center">
                        <td>@data.Id</td>
                        <td>@data.Name</td>
                        <td>@data.City</td>
                        <td>@data.State</td>
                        <td>@data.Salary</td>
                        <td>
                            <a class="btn btn-sm btn-warning" asp-controller="Employee" asp-action="Edit"
                            asp-route-id="@data.Id">Edit</a>
                            <a class="btn btn-sm btn-danger" asp-controller="Employee" asp-action="Delete"
                            asp-route-id="@data.Id">Delete</a>
                        </td>
                    </tr>
                }
            </table>

        </div>

    </div>
</div>


